body {
    font: 18px Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
    color: #222;
    height:100%;
    margin:0;
    background-color: #fff;
	}
	
html, body {
    height: 100%;
    width: 100%;
	min-width:1010px;
    margin: 0px;
    padding: 0px;
	}
  
   .page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
  }
  
  .wrap {
    padding-bottom: 100px;
  }
  .footer {
    height: 80px;
    margin-top: -80px;
	box-shadow:0px -8px 10px #e2e2e2;
  }

#header{
    color: #fff;
	background: #1b1b1b url('/i/bg.gif');
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
	height:1.5em;
	border-bottom:1px gray dotted;
}


.clear {
    clear:both;
}


a{
    color:#609AE0;
}

#header a {
    color:#eee;
    padding-right:1em;
    padding-left:1em;	
    margin-bottom:-1em;
    text-decoration: none;
}

#header a:hover {
    color:#000;
    background-color: #ccc;
    padding-bottom: 0.3em;

	border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -icab-border-radius: 5px 5px 0px 0px;
	
	background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(240,242,155,1)));
    background: -moz-linear-gradient(top, rgba(247,247,210,1), rgba(240,242,155,1));
	
    margin-top:-0.3em;
    padding-top:0.3em;	
}

#header a.visited {
    color:#000;
	
	border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -icab-border-radius: 5px 5px 0px 0px;
	
    background-color: #fff;
    padding-bottom: 0.3em;
    margin-top:-0.3em;
    padding-top:0.3em;
		background: #ffffff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(255,255,255,1)));
    background: -moz-linear-gradient(top, rgba(247,247,210,1), rgba(255,255,255,1));

}




h1,h2,h3,h4{
    padding:0;
    margin:0.1em;
    color:black;
}

h1{
    font-size: 1.1em;
	margin-bottom:-0.2em;
}

h2{
    font-size: 1em;
	margin-bottom:-0.2em;
}

h3{
    font-size: 0.8em;
	margin-bottom:-0.4em;
}

h4{
    font-size: 0.6em;
	margin-bottom:-0.5em;
}
p{
	margin:0.1em;
}

img {border: 0}

#date{
    font-size: 20px;

}

#club{
    font-size: 12px;
    padding:0;
    mergin:0;
}

a:hover {
    color:#777;
}

#content {
    margin-left:0.5em;
	min-height:400px;
	background: #fff;
}

#contents {
    float:left;
    margin-left:-270px;
    width:100%;
    margin-right:-1em;
}

.content{
	padding-right:250px;
	margin-right:0 !important;

}

#sidebar {
    float:right;
    padding-left:1em;
    width:250px;
	height: 100%;
	border-left:2px #eee solid;
    margin-top: -0.5em;
    padding-top: 0.5em;
    font-size: 0.8em;
}
#cont {
    padding-left:1em;
    margin-left:250px;
}

.content_block {
    background: #efe; /* Цвет фона */
    width:100%;
	padding-top:1em;
    border: 1px solid #dcdcdd; /* Параметры рамки */
    padding: 5px; /* Поля вокруг текста */
    margin-bottom: 10px; /* Отступ снизу */

	 /* Firefox */ 
	 -moz-box-shadow:2px 5px 7px rgba(99,99,99,.5); 
	 /* Safari+Chrome */ 
	 -webkit-box-shadow: 2px 5px 7px rgba(99,99,99,.5); 
	 /* Opera */ 
	 box-shadow: 2px 5px 7px rgba(99,99,99,.5);  
    /*box-shadow: 0 0 10px #eee; /* Параметры тени */

}

.content_block img {
	padding:1px;
	border:1px solid silver;
}

.content_block img:hover{

     -webkit-transform: scale(1.05); 
	 -moz-transform: scale(1.05); 
	 -o-transform: scale(1.05); 
	border:1px solid gray;
}


.gig_block {
    text-align: center;
	display: inline-block;
    background: #eee; /* Цвет фона */
    width:140px;
    min-height:235px;
	height:235px;
	border: 1px solid #dcdcdd; /* Параметры рамки */
    padding: 5px; /* Поля вокруг текста */
    margin-bottom: 10px; /* Отступ снизу */
    align:center;
    margin-left: 1%;

	 /* Firefox */ 
	 -moz-box-shadow:3px 3px 2px rgba(99,99,99,.5); 
	 /* Safari+Chrome */ 
	 -webkit-box-shadow: 3px 3px 2px rgba(99,99,99,.5); 
	 /* Opera */ 
	 box-shadow: 3px 3px 2px rgba(99,99,99,.5);  
	
  
    /*box-shadow: 0 0 10px #eee; /* Параметры тени */

}


.gig_img
{

    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px; /* KHTML */
    -webkit-border-radius: 4px;

	width:130px; 
	height: 173px; 
	margin-top:5px;

}

.gig_big_image{
   float:left;
}

.gig_big_image img{
    
    padding: 0 !important;
    margin:0.5em;

    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px; /* KHTML */
    -webkit-border-radius: 7px;

}

.gig_block:hover,.gig_block:focus{ 
	 /* Firefox */ 
	 -moz-box-shadow:5px 5px 7px rgba(99,99,99,.5); 
	 /* Safari+Chrome */ 
	 -webkit-box-shadow: 5px 5px 7px rgba(99,99,99,.5); 
	 /* Opera */ 
	 box-shadow: 5px 5px 7px rgba(99,99,99,.5);
	 -webkit-transform: scale(1.02); 
	 -moz-transform: scale(1.02); 
	 -o-transform: scale(1.02); 
	background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(240,242,155,1)));
    background: -moz-linear-gradient(top, rgba(247,247,210,1), rgba(240,242,155,1));
	
	position:relative; 
	z-index:5; 
 
 }   
 
#footer{
    clear:both;
    font-size: 12px;
    text-align: right;
	background: #ddd url('/i/down_bg.gif');
    padding:1em;
    color:#555;
}

#footer a{ color: #505}

.gig_review{
    font: 0.7em Tahoma, Arial, Helvetica, sans-serif;
}


.gig_price{
    font: 0.7em Tahoma, Arial, Helvetica, sans-serif;
}

.gig_day{
    float: right;
    color: silver;
    display: block;
    font-size: 0.6em;
    width: 2em;
    height: 2em;
}

.gig_date{
    float: left;
    display: block;
    font-size: 0.6em;
    width: 100%;
    margin-right: -3em;
    height: 1.5em;
    text-align: left;
    padding-left: 1em;

}

.gig_time{
    float: right;
    color: silver;
    display: block;
    font-size: 0.6em;
    width: 2em;
    margin-right: 1em;
    margin-left: -1em;

}

.gig_club{
    float: left;
    display: block;
    font-size: 0.50em;
    width: 70%;
    margin-right: -3em;
    height: 1.5em;
    text-align: left;
    padding-left: 1em;
	text-overflow: ellipsis; /* Добавляем многоточие */
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
}

.gig_title{
    display: block;
    font-size: 0.6em;
    height: 1.5em;
    text-align: center;
	vertical-align:center;
	text-overflow: ellipsis; /* Добавляем многоточие */
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
}

.gig_{
    float: left;
}

table{
    width:100%;
}

td{
    vertical-align: top;
}

hr { display: block; height: 1px; border: 0; border-top: 1px solid #bbb; padding: 0; clear: both }


.lastfm {
    background:url(../i/ico/16/lastfm.png) left center no-repeat;
    padding-left:20px;
}

.error {
    background:url(../i/ico/error.png) left center no-repeat;
    padding-left:20px;
}


.rss {
    background:url(../i/ico/16/feed.png) left center no-repeat;
    padding-left:20px;
}


.homepage {
    background:url(../i/ico/homepage.png) left center no-repeat;
    padding-left:28px;
}

.lj {
    background:url(../i/ico/16/livejournal.png) left center no-repeat;
    padding-left:20px;
}

.concert_content, #footer{
	text-shadow: 1px 1px #FFFFFF;
}

.concert_content a[href$='.zip'],a[href$='.gzip'],a[href$='.rar'] {
    display:inline-block;
    padding-left:20px;
	line-height:18px;
    background:url(../i/ico/zip.gif) left center no-repeat;
}

.concert_content a[href^='http://vkontakte.ru'], .concert_content a[href^='http://www.vkontakte.ru'], .concert_content a[href^='http://vk.com'], .concert_content a[href^='http://www.vk.com']{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:url(../i/ico/16/vkontakte.png) left center no-repeat;
}

.concert_content a[href^='http://myspace.com'],.concert_content a[href^='http://www.myspace.com']{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:url(../i/ico/16/myspace.png) left center no-repeat;
}

.concert_content a[href^='http://twitter.com'], .concert_content a[href^='http://www.twitter.com']{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:url(../i/ico/16/twitter.png) left center no-repeat;
}

.concert_content a[href^='http://facebook.com'], .concert_content a[href^='http://www.facebook.com']{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:url(../i/ico/16/facebook.png) left center no-repeat;
}

.concert_content a[href^='http://last.fm'],
.concert_content a[href^='http://lastfm.ru'],
.concert_content a[href^='http://www.last.fm'],
.concert_content a[href^='http://www.lastfm.ru']{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:url(../i/ico/16/lastfm.png) left center no-repeat;
}




.topic .voting li.comments-total a span {
    padding:0 2px;
}

.topic .voting li.comments-total a:hover {
    background:#390;
}

.topic .voting li.comments-total a:hover span {
    color:#fff;k
}

.topic .voting li.comments-total a:hover span.red {
    background:red;
}

.topic .content pre,.comment .content pre {
    overflow:auto;
    width:95%;
    margin-bottom:10px;
    background:#f8f8f8 url(/images/code.gif);
    border:1px solid #dce6f0;
    clear:both;
    padding:5px 2%;
}

.comment {
    font-style:italic;
    background:#fff;
    padding:5px 0px;
}

.block.view-comments {
    margin-top:98px;
}

.block.stream .stream-comment-icon {
    background:url(/images/comment-list.gif) no-repeat 2px 4px;
    padding-left:14px;
}

.update .update-comments {
    cursor:pointer;
    vertical-align:top;
}

.update .new-comments {
    border-top:1px solid #ececed;
    color:#3cc600;
    padding-top:7px;
    margin-top:3px;
    cursor:pointer;
    background:#fafbfb;
}

.comments {
    border-top:#ddd solid 1px;
    padding-top:10px;
    font-size: 0.6em;
}

.comments .comment {
    overflow:hidden;
    position:relative;
}

.comments .comment .comment {
    padding-left:30px;
}

.comments .header a.rss {
    margin-right:20px;
    padding-left:14px;
    background:url(/images/icons.gif) no-repeat scroll -70px -247px;
}

.comments .comment .content {
    background:#f7f7f7;
}

.comments .comment .content.self {
    background:#fdf5e6!important;
}

.comments .comment .content.new {
    background:#e4fbf1!important;
}

.comments .comment .content.del {
    background:#c5c5c5!important;
}

.comments .comment .content.view {
    background:#cdf5a6!important;
}

.comment .content {
    margin:0 50px 0 13px;
    padding:0;
}

.comment span.delete {
    color:#c5c5c5;
    font-size:16px;
}

.comment .content .tb {
    height:7px;
    overflow:hidden;
    background:url(../i/comment/comment-tb.gif) repeat-x;
}

.comment .content .tl {
    height:7px;
    background:url(../i/comment/comment-tl.gif) no-repeat left top;
}

.comment .content .tr {
    height:7px;
    background:url(../i/comment/comment-tr.gif) no-repeat right top;
}

.comment .content .bbc {
    height:15px;
    background:url(../i/comment/comment-bb.gif) repeat-x;
    margin-left:24px;
}

.comment .content .bl {
    height:15px;
    background:url(../i/comment/comment-bl.gif) no-repeat left bottom;
}

.comment .content .br {
    height:15px;
    background:url(../i/comment/comment-br.gif) no-repeat right bottom;
}

.comment .content .text {
    border-left:1px solid #dddede;
    border-right:1px solid #dddede;
    overflow:hidden;
    padding:5px 25px 5px 10px;
}

.comment .voting {
    width:48px;
    height:30px;
    position:absolute;
    right:20px;
    top:8px;
    z-index:100;
    overflow:hidden;
}

.comment .voting a.minus {
    width:9px;
    height:11px;
    display:block;
    position:relative;
    top:5px;
    overflow:hidden;
    background:url(../i/comment/comment-voting.gif) no-repeat scroll -10px 0;
}

.comment .voting .total {
    float:right;
    position:relative;
    top:3px;
}

.comment .voting a.plus:hover {
    background:url(../i/comment/comment-voting.gif) no-repeat scroll -40px 0;
}

.comment .voting a.minus:hover {
    background:url(../i/comment/comment-voting.gif) no-repeat scroll -70px 0;
}

.comment .voting.guest a.minus {
    width:9px;
    height:11px;
    display:block;
    overflow:hidden;
    background:url(../i/comment/comment-voting.gif) no-repeat scroll -10px 0;
}

.comment .voting.plus a.plus {
    width:9px;
    height:11px;
    display:block;
    overflow:hidden;
    background:url(../i/comment/comment-voting.gif) no-repeat scroll -40px 0;
}

.comment .voting.minus a.minus {
    width:9px;
    height:11px;
    display:block;
    overflow:hidden;
    background:url(../i/comment/comment-voting.gif) no-repeat scroll -70px 0;
}

.comment .voting.minus a.plus:hover {
    background:url(../i/comment/comment-voting.gif) no-repeat scroll 0 0;
}

.comment .voting.plus a.minus:hover {
    background:url(../i/comment/comment-voting.gif) no-repeat scroll -10px 0;
}

.comment .info {
    font-size:11px;
    line-height:14px;
    margin-left:14px;
    margin-bottom:25px;
    overflow:hidden;
}

.comment .info p {
    font-size:10px;
}

.comment .info p a.author {
    font-size:11px;
    font-weight:700;
    color:#000;
    text-decoration:none;
}

.comment .info img.avatar {
    float:left;
    margin:2px 7px 0 0;
}

.comment .info ul li {
    float:left;
    font-size:10px;
    margin-right:10px;
}

.comment .info ul li.date {
    color:#999;
    font-size:10px;
    padding-right:20px;
}

.comment .info a.imglink {
    display:block;
    width:9px;
    height:11px;
    text-decoration:none;
    position:relative;
    top:3px;
}

.comment .info a.link {
    background:url(/images/icons.gif) no-repeat scroll -10px -230px;
}

.comment .info a.link:hover {
    background:url(/images/icons.gif) no-repeat scroll 0 -230px;
}

.comment .info a.favorite {
    background:url(/images/icons.gif) no-repeat scroll -40px -40px;
}

.comment .info a.repair {
    color:#4CCC1B;
}

.comment .comment-topic {
    font-size:11px;
    color:#999;
    padding-bottom:3px;
    padding-left:2px;
}

.comment .comment-topic a.comment-total {
    background:url(/images/comment-total.gif) no-repeat 0 4px;
    padding-left:10px;
    margin-left:10px;
    text-decoration:none;
    font-weight:400;
    color:#78c658;
}

.comments.padding-none .comment .content,.comments.padding-none .comment .info {
    margin-left:0;
}

.comments.padding-none .voting {
    top:28px;
}

smalltxt,.topic .voting li.comments-total a,.block.tags ul.cloud li a.w1 {
    font-size:11px;
}

.menu li a:hover,.menu li.active a,.block.stream a.stream-comment,.lite-header a:hover {
    color:#333;
}

.topic .voting li.author a,.topic .content dl dt,.comment .comment-topic a,.poll li.most dl dt span,label {
    font-weight:700;
}

.topic .voting li.comments-total a span.green,.comment .voting.positive .total {
    color:#390;
}

.topic .voting li.comments-total a span.red,.comment .voting.negative .total,.comment .info a.delete {
    color:red;
}

#pagination.onpage,.comments.padding-none {
    padding-left:0;
}

.block.navigation .blog,.block.stream a.stream-blog,.block.contacts strong,.comment .info a.off,.comment .comment-topic a.comment-blog,.profile-user td.friends {
    color:#999;
}

.comment .folding,.comment .folding-open {
    width:9px;
    height:9px;
    float:left;
    position:relative;
    top:17px;
    cursor:pointer;
}

.comment .folding.off,.lsCmtTree_hidden,.hidden {
    display:none;
}

.comment .voting a.plus,.comment .voting.guest a.plus {
    width:9px;
    height:11px;
    display:block;
    overflow:hidden;
    background:url(/images/comment-voting.gif) no-repeat scroll 0 0;
}

.comment .voting.voted a.plus,.comment .voting.voted a.minus,.comment .voting.guest a.plus,.comment .voting.guest a.minus,.profile-blog .voting.voted a.plus,.profile-blog .voting.voted a.minus,.profile-user .voting.voted a.plus,.profile-user .voting.voted a.minus {
    cursor:default;
}

.comment .info p a.author:hover,.profile-blog .about .content h1 {
    color:#555;
}

.comment .info ul li.goto-comment-parent a,.comment .info ul li.goto-comment-child a {
    text-decoration:none;
    border-bottom:1px dotted #79B1D4;
    font-family:tahoma;
}

.comment .info a.favorite:hover,.comment .info a.favorite-active {
    background:url(/images/icons.gif) no-repeat scroll -50px -40px;
}

.tooltip{
	padding:1em; 
	width:90%; 
	margin:1em auto; 
	font-size:18px; 
	background-color:#fff4C2; 
	border: 3px solid #ffcc33;
}
.content_block ul {
  list-style:none;
}


.content_block ul li {
  display:inline;
}

#gallery img{
	max-width:150px;
	height:112px;
	max-height:112px;
	min-height:112px;
}

#filter{

width:100%; 
color:gray; 
text-align: center; 
margin-bottom: -40px; 
font-size: 0.8em;
}
